{
  "log": {
    "_recordingName": "fetches gzipped response and makes a proper polly recording",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.4.0"
    },
    "entries": [
      {
        "_id": "f91b387ad7dc694ea31d6ea1889c1230",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us-central1-polly-issue-demo.cloudfunctions.net/respond"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 85,
            "text": "[\"1f\",\"8b\",\"08\",\"00\",\"00\",\"00000002ffab562a492d2e51b22a292a4dad05004354e16a0d000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d-wOuS9ky6sDi1SeQD0i4Mbl1QXyY\""
            },
            {
              "name": "function-execution-id",
              "value": "6xho9qdzsbz0"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "bdf4441ffcf04f5ad191244c7617832b;o=1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
